
curso_em_video/project-glass/__MACOSX/projeto-glass-html5/._.DS_Store
curso_em_video/project-glass/__MACOSX/projeto-glass-html5/_css/._.DS_Store
curso_em_video/project-glass/__MACOSX/projeto-glass-html5/_imagens/._.DS_Store
curso_em_video/project-glass/__MACOSX/projeto-glass-html5/_javascript/._.DS_Store
curso_em_video/project-glass/__MACOSX/projeto-glass-html5/_textos/._.DS_Store
curso_em_video/project-glass/projeto-glass-html5/.DS_Store
curso_em_video/project-glass/projeto-glass-html5/_css/.DS_Store
curso_em_video/project-glass/projeto-glass-html5/_imagens/.DS_Store
curso_em_video/project-glass/projeto-glass-html5/_textos/.DS_Store
