*{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: rgb(35, 30, 100);
    
}

h1 {
    text-align: center;
    font-size: 3rem;
    color: aliceblue;
}

header {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 90%;
    /*border: 1px solid yellow;*/
    margin: auto auto;
}

input {
    height: 120px;
    font-size: 2rem;
    width: 80%;
    padding-left: 10%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

button.add {
    width: 20%;
    cursor: pointer;
    background-color: green;
    color: aliceblue;
    font-weight: bold;
    border: none;
    height: 120px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: xx-large;
}

main {
    display: flex;
    flex-flow: row wrap;
    width: 90%;
    margin: auto auto;
   
    padding-top: 40px;
}

.item {
    cursor: pointer;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    height: 80px;
    width: 100%;
    border-top-left-radius: 10px;   
    border-bottom-left-radius: 10px;   
    box-shadow: 0 0 20px rgb(210, 7, 218);
    margin-bottom: 2%;
}

.item-icone {
    flex: 20%;
    text-align: center;
    font-size: 2rem;
}
.item-nome {
    flex: 55%;
    font-size: 20px;
    font-weight: bold;
}
.item-botao {
    flex: 25%;     
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.delete {
    background-color: red;
    color: white;
    border: none;
    padding: 10px;
    height: 80px;
    width: 100%;
}

.fa-check-circle {
    color: green;
}

.item.clicado {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(174, 224, 181);
    height: 80px;
    width: 100%;
    box-shadow: 0 0 20px rgb(210, 7, 218);
    
}

.item.clicado .item-nome {
    text-decoration: line-through;
    color: gray;
}

